@import '../variables.css';

.root {
  float: right;
  margin: 6px 0 0;
}

.link {
  position: relative;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: var(--color-brand);
}

.link:hover {
  /* color: rgba(255, 255, 255, 1); */
  text-decoration: underline;
  text-underline-skip: ink;
}

.counter {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  display: block;
  background-color: brown;
  color: #fff;
  padding: 2px 4px;
  min-width: 1em;
  min-height: 1em;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}
