@import '../variables.css';

.item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.thumbnail {
  display: inline-block;
  box-sizing: border-box;
  max-width: 50px;
}

.name {
  display: inline-block;
  box-sizing: border-box;
}

.desc {
  display: inline-block;
  box-sizing: border-box;
}

.price {
  display: inline-block;
  box-sizing: border-box;
}

