@import '../variables.css';

.root {
  /* background: #333; */
  color: #666;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: #666;
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: #666;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
}
